* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.loaderWrapper {
  text-align: center;
  background-color: #222;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.loader {
  width: 200px;
  height: 200px;
  border: 14px solid;
  border-radius: 60%;
  border-left-color: #04aa6d;
  border-right-color: #0e5740;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.top-navigation {
  background-image: linear-gradient(#528ec3c2, #12569186), url("./images/3.png");
  background-size: cover;
  padding-bottom: 190px;
}

.top-navigation .nav {
  display: flex;
  justify-content: space-between;
}

.top-navigation .openBtn {
  border: none;
  border-radius: 24px;
  background-color: transparent;
  font-size: 30pt;
  position: absolute;
  right: 1vh;
  top: 16px;
  display: none;
}

.top-navigation .menu-section #closeBtn {
  display: none;
  font-size: 20pt;
  background-color: transparent;
  border: none;
  overflow: hidden;
  color: #fff;
  position: absolute;
  right: 20px;
  font-weight: bold;
}


.top-navigation .logo-section img {
  height: 354px;
  max-width: 320px;
  top: -100px;
  position: absolute;
  left: -30px;
}

.top-navigation .menu-section {
  z-index: 2;
}

.top-navigation .menu-section ul {
  display: flex;
  padding: 40px;
  width: 100%;
}

.top-navigation .menu-section.fixed-nav {
  position: fixed;
  top: 0;
  transition: 3s;
}


.top-navigation .menu-section a {
  color: #fff;
  font-size: 20px;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  z-index: 20;
}

.top-navigation .menu-section a:hover {
  background-color: rgb(230, 217, 30);
  border-radius: 14px;
  color: white;
  transition: 0.3s;
}

.top-navigation .content {
  margin: auto;
  text-align: center;
  width: fit-content;
  height: fit-content;
  padding: 20px;
}


.top-navigation .content h1 {
  color: white;
  font-weight: 800;
  font-size: 30pt;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 4px 6px #1b1f28;
}

.naslov {
  position: relative;
}

.naslov span {
  position: relative;
  display: inline-block;
  font-size: 40pt;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(0.2s * var(--i));
}

@keyframes flip {

  0%,
  80% {
    transform: rotateY(360deg);
  }
}

.top-navigation .content p {
  /* text-transform: uppercase;
  background-image: linear-gradient(-225deg,
      #0e5740,
      0%,
      #354433 29%,
      #223267 66%,
      #fff 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto; */
  color: #fff;
  /* background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite; */
  font-size: 20pt;
  font-weight: 800;
  padding-top: 20px;
  padding-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.top-navigation .content a {
  background: linear-gradient(to top right,
      rgba(255, 255, 0, 0.7),
      rgb(191, 191, 12));
  color: white;
  font-weight: 800;
  font-size: 16pt;
  text-transform: uppercase;
  border-radius: 34% 0;
  border: none;
  opacity: 0.9;
  cursor: pointer;
  text-decoration: none;
  padding: 16px;
}

.top-navigation .content a:hover {
  background: yellow;
  width: 14rem;
  color: #122;
  transition: 0.6s;
}


.hero-section {
  background: linear-gradient(to top right, white, rgb(239, 233, 233));
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
}

.hero-section h1 {
  font-weight: bold;
  font-size: 30pt;
}

.hero-section p {
  font-weight: bold;
  color: gray;
}

.hero-section .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  width: 60%;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: auto;
  padding-top: 30px;
}


/*-------------------TAB ONE--------------------------*/
.hero-section .container .tab1 {
  padding: 24px;
  border: 3px solid grey;
  border-radius: 12px;
  background: linear-gradient(to top left, rgba(0, 0, 0, 0.907), #1b1f28);
  overflow: hidden;
}

.hero-section .container .tab1:hover {
  transform: translateY(-20px);
  cursor: pointer;
  transition: 0.7s;
}


.hero-section .container .tab1 img {
  width: 204px;
  height: 208px;
}


.hero-section .container .tab1 h2 {
  font-weight: bold;
  font-size: 40px;
  color: rgba(255, 255, 0, 0.7);
}

.hero-section .container .tab1 p {
  color: rgb(190, 182, 182);
  font-weight: bold;
  font-size: 18px;
}

/*--------------------------TAB SECOND----------------------------*/
.hero-section .container .tab2 {
  padding: 24px;
  border: 3px solid grey;
  border-radius: 12px;
  background: linear-gradient(to top left, rgba(0, 0, 0, 0.907), #1b1f28);
  overflow: hidden;

}

.hero-section .container .tab2:hover {
  transform: translateY(-20px);
  cursor: pointer;
  transition: 0.7s;
}

.hero-section .container .tab2 img {
  width: 204px;
  height: 208px;
}


.hero-section .container .tab2 h2 {
  color: rgba(255, 255, 0, 0.7);
  font-weight: bold;
  font-size: 40px;
}

.hero-section .container .tab2 p {
  color: rgb(181, 175, 175);
  font-weight: bold;
  font-size: 18px;
}

/*---------------------TAB THU*----------------------*/
.hero-section .container .tab3 {
  padding: 24px;
  border: 3px solid grey;
  height: 28rem;
  border-radius: 12px;
  background: linear-gradient(to top left, rgba(0, 0, 0, 0.907), #1b1f28);
  overflow: hidden;
}

.hero-section .container .tab3:hover {
  transform: translateY(-20px);
  cursor: pointer;
  transition: 0.7s;
}

.hero-section .container .tab3 img {
  width: 204px;
  height: 208px;
}

.hero-section .container .tab3 h2 {
  font-weight: bold;
  font-size: 40px;
  color: rgba(255, 255, 0, 0.7);
}

.hero-section .container .tab3 p {
  color: rgb(192, 192, 192);
  font-weight: bold;
  font-size: 18px;
}

/* asdasdasdasdsadasd */

.after-hero {
  background: linear-gradient(to top left, #04aa6d, #7dd56f);
  overflow: hidden;
}

.after-hero .content {
  text-align: center;
  padding-top: 12vh;
  font-weight: bold;
}

.after-hero .content h1 {
  font-size: 38pt;
  font-weight: 700;
  color: rgba(255, 255, 0, 0.7);
}

.after-hero .content p {
  font-size: 20pt;
  color: #fff;
  padding-top: 17px;
  font-style: italic;
}

span {
  background-color: rgba(255, 255, 0, 0.7);
  padding: 6px;
  border-radius: 20% 0;
}

.images {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.images img {
  width: 50%;
  transition: 2s ease;
  opacity: 0;
  border-radius: 30%;
}

.after-hero .images img.slideFromLeft {
  transform: translateX(-50%);
}

.after-hero .images img.slideFromLeft:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.after-hero .images img.slideFromRight:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.after-hero .images img.slideFromRight {
  transform: translateX(50%);
}

.after-hero .images img.animated {
  transform: translateX(0);
  opacity: 2;
}

.about-section {
  background: linear-gradient(to top right, white, rgb(210, 213, 208));
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 28px;
  gap: 2em;
  flex-wrap: wrap;
}

.about-section .content {
  background-color: #37383d;
  overflow: hidden;
  border-radius: 24px;
  margin: auto;
  padding: 80px;
  max-width: 30%;
}

.about-section .content h1 {
  font-size: 3rem;
  color: #fff;
  font-weight: bolder;
}

.about-section .content p {
  font-size: 22px;
  color: #fff;
  font-weight: bolder;
  padding-top: 10pt;
  padding-bottom: 30px;
}

.about-section .content .button-contact {
  background: linear-gradient(to top right,
      rgba(255, 255, 0, 0.7),
      rgb(191, 191, 12));
  color: white;
  font-weight: 800;
  font-size: 16pt;
  text-transform: uppercase;
  border-radius: 34% 0;
  border: none;
  opacity: 0.9;
  cursor: pointer;
  text-decoration: none;
  padding: 16px;
  padding-bottom: 20px;
  top: 40pt;
}

.about-section .content .button-contact:hover {
  background-color: #7dd56f;
  cursor: pointer;
  transition: 0.7s;
}



.about-section .image {
  width: 80vh;
  height: 60vh;
  position: relative;
  background-image: url("images/1.png");
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}

.contact {
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(to bottom right,
      rgba(149, 225, 86, 0.7),
      #04aa6d);
  overflow-x: hidden;
}


input[type="text"],
select,
textarea {
  width: 100%;
  padding: 18px;
  border: none;
  border-radius: 24px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #375586;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}

label {
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 600px) {

  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

footer {
  background-color: #37383d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 4rem;
  flex-wrap: wrap;
  overflow-x: hidden;
}

footer .title img {
  width: 400px;
  height: auto;
}

footer .title h1 {
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
}

footer .fta {
  background-color: #1b1f28;
  color: #fff;
  font-size: 20px;
  padding: 14px 30px;
  font-style: italic;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
}

footer .fta:hover {
  border-radius: 14px;
  color: white;
  transition: 0.7s;
}